@import '~bootstrap/scss/bootstrap.scss'

.App
  width: 100vw
  height: 100vh
  overflow: hidden

$input-height: 30px

.input
  width: 100%
  // height: $input-height
  line-height: $input-height
  padding: 0 10px
  font-size: 14px
  outline: none
  border: none
  background: white
  -webkit-appearance: none

.form-group
  // padding: 14px 10px 0
  // margin: 2px 0 10px
  position: relative
  margin-bottom: 0
  &__label
    position: absolute
    font-size: 12px
    top: -25px
    left: 15px
  &__input
    @extend .input
    border: 1px solid gray
    border-radius: 3px
    position: relative
    &::placeholder
      color: #b1b1b1

.button
  cursor: pointer
  outline: none !important
  border: none
  background-color: white
  &:disabled
    opacity: .5
    cursor: not-allowed
  &--main
    width: 100%
    padding: 10px 0
    text-align: center
    font-weight: 600
    color: white
    background-color: black
  &--cross
    position: absolute
    top: 5px
    right: 15px
    width: 20px
    height: 20px
    z-index: 1000
    &::after, &::before
      content: ""
      position: absolute
      top: 10px
      left: 0
      background-color: black
      width: 15px
      height: 2px
    &::after
      transform: rotate(45deg)
    &::before
      transform: rotate(-45deg)


.login
  width: 100%
  height: 100%
  @extend .d-flex
  @extend .flex-column
  @extend .justify-content-center
  @extend .align-items-center

.loader
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(255, 255, 255, .5)
  cursor: not-allowed

.control
  width: 100%
  height: 100%
  .container
    height: 100%
    @extend .d-flex
    @extend .flex-column
    @extend .justify-content-between
  &__header
    width: 100%
    height: 30px
    @extend .mb-2
    @extend .d-flex
    @extend .flex-row
    @extend .justify-content-between
    &__token
      @extend .flex-grow-1
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    &__exit
      @extend .button
      font-weight: 900
  &__subtitles
    @extend .flex-grow-1
    @extend .d-flex
    @extend .flex-column
    width: 100%
    overflow-y: scroll
    &__item
      width: 100%
      @extend .d-flex
      @extend .flex-row
      &--posted
        opacity: .5
        cursor: not-allowed
      &__number
        width: 50px
      &__input
        @extend .flex-grow-1
        // .input
        height: 25px
        line-height: 25px
        border: none
        border-bottom: 1px solid gray
        border-radius: 0
        padding: 0 10px
      &__buttons
        @extend .ml-2
        @extend .d-flex
        @extend .flex-row
      &__posted
        @extend .ml-2
        width: 70px
    &__textarea
      @extend .flex-grow-1
      width: 100%
      @extend .mb-2
      @extend .p-2
  &__next
    @extend .my-2
    width: 100%
